.truncated {
    text-overflow: ellipsis;
    overflow: hidden
}

a {
    color:gold;
    font-family: sans-serif;
}

i {
    color: gold;
    font: sans-serif;
}

b, strong {
    font-weight: 700;
    font-family: sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: gold;
    text-align: center;
    background-color: #000038;
    border: 1px solid gold;
    border-radius: 4px;
}

.panel-default {
    border-color: gold;
}

.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body, .panel>.table-responsive+.panel-body {
    border-top: 1px solid gold;
}

.dropdown-menu>li>a {
    display:block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: gold;
    white-space:nowrap;
    background-color: #000038;
    border: gold;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: gold;
    background-color: #000038;
    background-image: none;
    border: 1px solid gold;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #000038;
    border: 1px solid gold;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}

table {
    background-color: #000038;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    background-color: #000038;
}

* {
    color: gold;
    border-color: gold;
    border-top:  gold;
}
.uppercase {
    text-transform: uppercase;
}

.table-layout-fixed {
    table-layout: fixed;
}

.module-icon {
     display: inline;
     height: 24px;
     width: 24px;
}

.fixed-addon-width {
    min-width: 70px;
    text-align: left;
}

.fixed-addon-width-2 {
    min-width: 90px;
    text-align: left;
}


.fixed-addon-width-3 {
    min-width: 110px;
    text-align: left;
}

.fixed-width-200 {
    min-width: 200px;
}

.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000038;
}

.image-small-18 {
    height: 18px;
}

.center-text {
    text-align: center;
}

.scrollable-pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: gold;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000038;
    border: 1px solid gold;
    border-radius: 4px;
    font-family: sans-serif;
}

.log-pre {
    max-height: 300px;
}

.btn-fixed-length {
    width: 70px;
}

.title-message {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 9px;
    border-radius: 3px;
}

.padding-left {
    margin-left: 10px;
}

.select-inline {
    font-weight: normal;
}

body {
    background-color: #000038;
}

.logout {
    cursor: pointer;
}

.module-nav li a {
    margin-left: 30px;
}

.module-nav li:hover {
    background-color: #000038;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: lightblue;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ff0000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #000038;
}

.sidebar ul li {
    cursor: pointer;
    border-bottom: 1px solid darkgold;
    color:gold;
}

.btn {
    background-color: #000038;
    font-family: sans-serif;
}

.alert-info {
    color: gold;
    background-color: blue;
    border-color: gold;
}

p {
    color: gold;
    font-family: sans-serif;
}

.text-muted {
    color:darkgold;
}

.h3 h3 {
    color:gold;
}
.h2, h2 {
    font-size: 30px;
    color:gold;
}
.h1, h1 {
    font-size: 30px;
    color:gold;
}

.btn-default {
    color:gold;
    border-color: gold;
}

.btn-default:hover {
    color: gold;
    background-color: gold;
    border-color: gold;
}

.sidebar .active {
    background-color: #13033a;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .module-content {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 15px 30px;
        border-left: 1px solid #000038;
    }

    .navbar-top-links {
        margin-left: 10px;
    }
}

.navbar-top-links {
    margin-right: 5px;
    margin-left: 10px;
}

.navbar-top-links li {
    display: inline-block;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #000038;
    opacity: 1;
    color: gold;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #000038;
    border-top: 1px solid darkgold;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

textarea.form-control {
    height: auto;
    background-color: #000038;
    opacity: 1;
    color: gold;
    font-family: sans-serif;
}
.navbar {
    margin-bottom: 0;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.module-content {
    padding: 15px 15px;
    background-color: #000038;
}

.pointer {
    cursor: pointer;
}

.dropdown-menu {
    cursor: pointer;
}

.dropdown-menu-top {
    max-height: 300px !important;
    overflow-y: auto !important;
}

@media(max-width:768px) {
    .dropdown-menu-top {
        margin: auto !important;
        position: absolute !important;
        background-color: #000038 !important;
        word-wrap: break-word !important;
        border: 1px solid #000038 !important;
        width: 300px !important;
        max-width: 300px !important;
    }
    .dropdown-menu-top li a {
        white-space: normal !important;
    }

    .dropdown-menu-logout {
        max-width: 50px !important;
    }
}

.login-logo {
    margin: 0 auto;
    padding-bottom: 10px;
    max-width: 150px;
}

.brand-logo {
    content: url('/img/logo.png');
    max-height: 30px;
    padding-bottom: 5px;
}

.brand-text::after {
    content: "Wifi Pineapple | Starstuff";
    padding-top: 3px;
    padding-left: 5px;
    float: right;
    color:gold;
}

.brand-text::after {
    content: "Wifi Pineapple | Starstuff";
    padding-top: 3px;
    padding-left: 5px;
    float: right;
    color:gold;
}

.alert-danger {
    color: gold;
    background-color: #000038;
    border-color: gold;
}

.panel-title {
    background-color:#000038;
    color: gold;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: gold;
}

.panel-body {
    background-color:#000038;
    font-family:sans-serif;
}

.panel-heading {
    background-color:#000038;
}

.panel-default>.panel-heading {
    color: gold;
    background-color: #000038;
    border-color: gold;
    border-bottom-color:  gold;
    border-bottom: gold;
}

td {
    background-color:#000038;
}
.nav {
    background-color:#000038;
}
.sidebar-nav.navbar-collapse {
    background-color:#000038;
}
.navbar-default{
    background-color:#000038;   
} 
.navbar-static-top {
    background-color:#000038;
    border-color:  gold;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    font-family: sans-serif;
    background-color: gold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #000038;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid gold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid gold;
}

.modal-content {
    position: relative;
    background-color: #000038;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgray;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #000038;
    -webkit-transition: .4s;
    transition: .4s;
 }
input:checked + .slider {
  background-color: gold;
}
input:focus + .slider {
  box-shadow: 0 0 1px gold;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}